# This is the default location to checkout sourcecode for the benchmarks in
# External/*
/test-suite-externals
*.pyc
/*build*

/phoenix/**/*_datafiles
/phoenix/**/*.o
/phoenix/**/.*
/phoenix/**/dfisan*
/phoenix/**/tsan*

phoenix-2.0
SARD-88
Splash-3

# /Splash-3/**/*.c
# /Splash-3/**/*.o
# /Splash-3/**/*.h
# /Splash-3/**/*.bc
